# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=daily backup

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -avhuP %h --delete --exclude-from=%h/.exclude /mnt/storage/backup/
IOAccounting=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/mnt/storage/backup/alc
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
PrivateTmp=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
LockPersonality=true
RestrictNamespaces=true
LockPersonality=true
RuntimeDirectory=backsync
