# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Runs my backup script daily

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
