# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Sandboxing Discord
After=network.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=flatpak run --filesystem=xdg-download:rw com.discordapp.Discord
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ReadWritePaths=%h/Downloads/ %t/discord-ipc-0
