# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Discord Socket
Conflicts=discord.service

[Socket]
ListenStream=/tmp/discord.sock
ListenStream=%t/discord-ipc-0

[Install]
WantedBy=sockets.target
