# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Forward the port for barrier from %i

[Service]
Type=simple
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
Restart=always
RestartSec=5
ExecStart=/usr/bin/ssh -F %h/.ssh/config -NL 24800:localhost:24800 %i

[Install]
WantedBy=default.target
