# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Fix my screen layout

[Service]
Type=oneshot
ExecStart=/usr/bin/xrandr --output VGA-0 --mode 1280x1024 --pos 0x0 --rotate left --output HDMI-A-0 --primary --mode 1920x1080 --pos 1024x0 --rotate normal
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
LockPersonality=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=graphical.target
