# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=Synergy keyboard & mouse sharing software
After=network.target

[Service]
PassEnvironment=DISPLAY
ExecStart=/usr/bin/synergy --address %i --no-restart --no-daemon --config %h/.config/Synergy/desktops.conf
Type=simple
ProtectHome=read-only
ProtectSystem=true
ReadWritePaths=%h/.config/Synergy
Restart=always
RestartSec=10

[Install]
WantedBy=alc.target
