[Unit]
Description=daily backup

[Service]
Type=oneshot
ExecStart=/usr/bin/backsync
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/mnt/storage/backup/alc
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
