[Unit]
Description=Discord Socket
Conflicts=discord.service

[Socket]
ListenStream=/tmp/discord.sock
ListenStream=/var/run/user/1000/discord-ipc-0
RemoveOnStop=true

[Install]
WantedBy=sockets.target
