[Unit]
Description=Sandboxing Discord
After=network.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=%h/.local/bin/Discord/Discord
KillMode=control-group
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=%h/.local/bin/Discord %h/Downloads/ %h/.config/discord %t/discord-ipc-0
