# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=BitlBee IRC/IM gateway

[Service]
ExecStart=/usr/sbin/bitlbee -F -n -P /var/run/bitlbee/bitlbee.pid
KillMode=process

[Install]
WantedBy=multi-user.target

