# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors                         
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=CloudFlare DNS over HTTPS Proxy
Wants=network-online.target
After=network.target network-online.target
 
[Service]
DynamicUser=yes
ExecStart=/usr/local/bin/cloudflared proxy-dns --port 1054 --upstream https://1.1.1.1/.well-known/dns-query --upstream https://1.0.0.1/.well-known/dns-query
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
