# Copyright 2017-2018, Adrian Lucrèce Céleste and the config contributors
# SPDX-License-Identifier: GPL-2.0+
[Unit]
Description=CloudFlare DNS over HTTPS Proxy on %i
Wants=network-online.target
After=network.target network-online.target

[Service]
MemoryAccounting=yes
DynamicUser=yes
ExecStart=/usr/local/bin/cloudflared --no-autoupdate proxy-dns --address %i
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-abort
LockPersonality=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
SystemCallFilter=~@clock @cpu-emulation @debug @keyring @module @mount @obsolete @raw-io @reboot @swap @setuid @chown @file-system @sync @privileged
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
